SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
PUBLIC_APP_ORIGIN=
SESSION_SECRET=

# Optional — tap-a-track insights via RapidAPI
RAPIDAPI_KEY=
RAPIDAPI_HOST=
RAPIDAPI_FEATURES_PATH=
note: for google redirect uri, replace the localhost thing with the actual domain when adding the api key to vercel deployment